{# @var plugin \furbo\rentmanforcraft\RentmanForCraft #}
{# @var settings \furbo\rentmanforcraft\models\Settings #}

{% import '_includes/forms.twig' as forms %}

{# The title of this CP section #}
{% set title = craft.rentman.cpTitle~' - Settings' %}

{% do view.registerAssetBundle("furbo\\rentmanforcraft\\web\\assets\\rentmanforcraft\\RentmanForCraftCPAsset") %}

{# The content of the CP Section #}
{% block content %}


    <header id="content-header" class="pane-header">
        <div id="tabs" class="pane-tabs">
            <div class="" role="tablist" aria-label="Primary fields">
                <a class="sel" href="#fields" tabindex="0" role="tab" data-id="settings-tab-main-settings" aria-selected="true">
                    <span class="tab-label">
                        {{ 'Main settings'|t('rentman-for-craft') }}
                    </span>
                </a>
                <a href="#translations" tabindex="-1" role="tab" data-id="settings-tab-translations" aria-selected="false">
                    <span class="tab-label">
                        {{ 'Customisation'|t('rentman-for-craft') }}
                    </span>
                </a>
            </div>

        </div>
    </header>




    <div id="tab-main-settings" data-id="tab-main-settings" role="tabpanel" class="tab">

        <div id="settings">

            {{ forms.textField({
                label: 'Api URL',
                instructions: '',
                id: 'apiUrl',
                name: 'apiUrl',
                value: settings['apiUrl']}) }}

            {{ forms.textField({
                label: 'Api Key',
                instructions: '',
                id: 'apiKey',
                name: 'apiKey',
                value: settings['apiKey']}) }}

            <div class="field">
                <div class="heading">
                    <label>{{ 'Automatically send projects to rentman'|t('rentman-for-craft') }}</label>
                </div>

                {{ forms.lightswitch({
                    label: 'enabled',
                    instructions: '',
                    id: 'autoSubmitProjects',
                    name: 'autoSubmitProjects',
                    on: (settings['autoSubmitProjects'] ?? false) ? true : false,

                }) }}



                {# forms.lightswitch({
                    label: 'enabled',
                    type: 'checkbox',
                    name: 'autoSubmitProjects',
                    on: (settings['autoSubmitProjects'] ?? false) ? true : false,
                }) #}


                <hr/>

                {% set siteRows = [] %}

                {% for site in craft.app.sites.getAllSites() %}
                    {% set siteSettings = settings['productRoutes'][site.handle] ?? null %}
                    {% set siteRows = siteRows|merge({
                        (site.handle): {
                            heading: site.name|t('site')|e,
                            uriFormat: {
                                value: siteSettings ? siteSettings.uriFormat,
                            },
                            template: {
                                value: siteSettings ? siteSettings.template,
                            },
                        }|filter
                    }) %}
                {% endfor %}

                {{ forms.editableTableField({
                    label: "Product URLS"|t('rentman-for-craft'),
                    instructions: "Define URL and template to be used for products."|t('rentman-for-craft'),
                    id: 'productRoutes',
                    name: 'productRoutes',
                    cols: {
                        heading: {
                            type: 'heading',
                            heading: "Site"|t('rentman-for-craft'),
                            thin: true
                        },
                        uriFormat: {
                            type: 'singleline',
                            heading: "Entry URI Format"|t('rentman-for-craft'),
                            info: "What entry URIs should look like for the site. Leave blank if entries don’t have URLs."|t('rentman-for-craft'),
                            placeholder: 'Leave blank if entries don’t have URLs'|t('rentman-for-craft'),
                            code: true,
                            width: 500,
                            class: ['type-channel', 'type-structure']|filter
                        },
                        template: {
                            type: 'template',
                            heading: "Template"|t('rentman-for-craft'),
                            info: "Which template should be loaded when an entry’s URL is requested."|t('rentman-for-craft'),
                            code: true
                        }
                    }|filter,
                    rows: siteRows,
                    fullWidth: true,
                    allowAdd: false,
                    allowDelete: false,
                    allowReorder: false
                }) }}

                <hr/>

                {% set siteRows = [] %}

                {% for site in craft.app.sites.getAllSites() %}
                    {% set siteSettings = settings['categoryRoutes'][site.handle] ?? null %}
                    {% set siteRows = siteRows|merge({
                        (site.handle): {
                            heading: site.name|t('site')|e,
                            uriFormat: {
                                value: siteSettings ? siteSettings.uriFormat,
                            },
                            template: {
                                value: siteSettings ? siteSettings.template,
                            },
                        }|filter
                    }) %}
                {% endfor %}

                {{ forms.editableTableField({
                    label: "Category URLS"|t('rentman-for-craft'),
                    instructions: "Define URL and template to be used for categories."|t('rentman-for-craft'),
                    id: 'categoryRoutes',
                    name: 'categoryRoutes',
                    cols: {
                        heading: {
                            type: 'heading',
                            heading: "Site"|t('rentman-for-craft'),
                            thin: true
                        },
                        uriFormat: {
                            type: 'singleline',
                            heading: "Entry URI Format"|t('rentman-for-craft'),
                            info: "What entry URIs should look like for the site. Leave blank if entries don’t have URLs."|t('rentman-for-craft'),
                            placeholder: 'Leave blank if entries don’t have URLs'|t('rentman-for-craft'),
                            code: true,
                            width: 500,
                            class: ['type-channel', 'type-structure']|filter
                        },
                        template: {
                            type: 'template',
                            heading: "Template"|t('rentman-for-craft'),
                            info: "Which template should be loaded when an entry’s URL is requested."|t('rentman-for-craft'),
                            code: true
                        }
                    }|filter,
                    rows: siteRows,
                    fullWidth: true,
                    allowAdd: false,
                    allowDelete: false,
                    allowReorder: false
                }) }}

                <hr/>

                {% set siteRows = [] %}

                {% for site in craft.app.sites.getAllSites() %}
                    {% set siteSettings = settings['projectRoutes'][site.handle] ?? null %}
                    {% set siteRows = siteRows|merge({
                        (site.handle): {
                            heading: site.name|t('site')|e,
                            uriFormat: {
                                value: siteSettings ? siteSettings.uriFormat,
                            },
                            template: {
                                value: siteSettings ? siteSettings.template,
                            },
                        }|filter
                    }) %}
                {% endfor %}

                {{ forms.editableTableField({
                    label: "Project URLS"|t('rentman-for-craft'),
                    instructions: "Define URLS and template to be used for projects."|t('rentman-for-craft'),
                    id: 'projectRoutes',
                    name: 'projectRoutes',
                    cols: {
                        heading: {
                            type: 'heading',
                            heading: "Site"|t('rentman-for-craft'),
                            thin: true
                        },
                        uriFormat: {
                            type: 'singleline',
                            heading: "Entry URI Format"|t('rentman-for-craft'),
                            info: "What entry URIs should look like for the site. Leave blank if entries don’t have URLs."|t('rentman-for-craft'),
                            placeholder: 'Leave blank if entries don’t have URLs'|t('rentman-for-craft'),
                            code: true,
                            width: 500,
                            class: ['type-channel', 'type-structure']|filter
                        },
                        template: {
                            type: 'template',
                            heading: "Template"|t('rentman-for-craft'),
                            info: "Which template should be loaded when an entry’s URL is requested."|t('rentman-for-craft'),
                            code: true
                        }
                    }|filter,
                    rows: siteRows,
                    fullWidth: true,
                    allowAdd: false,
                    allowDelete: false,
                    allowReorder: false
                }) }}

                <hr/>


                {{ forms.editableTableField({
                    label: "Shooting Days Factor"|t('rentman-for-craft'),
                    instructions: "",
                    id: 'shootingDaysFactor',
                    name: 'shootingDaysFactor',
                    cols: {
                        days: {
                            type: 'number',
                            heading: "Days"|t('rentman-for-craft'),
                            info: "",
                            placeholder: '',
                            code: true,
                            width: 10,
                            class: ['type-channel', 'type-structure']|filter
                        },
                        factor: {
                            type: 'number',
                            heading: "Factor"|t('rentman-for-craft'),
                            info: "What factor should be applied to calcualte price for x days",
                            code: true,
                            width: 10,
                        }
                    }|filter,
                    rows: settings['shootingDaysFactor'],
                    fullWidth: false,
                    allowAdd: true,
                    allowDelete: true,
                    allowReorder: true
                }) }}

                <hr/>

                {{ forms.fieldLayoutDesignerField({
                    label: "Additional fields for products"|t('rentman-for-craft'),
                    id: 'product-fields',
                    fieldLayout: craft.app.fields.getLayoutByType(
                        'furbo\\rentmanforcraft\\elements\\Product'
                    ),
                }) }}

            </div>


        </div>
    </div>
    <div id="tab-translations" data-id="translations" role="tabpanel" class="tab hidden">

        {{ forms.textField({
            label: 'Control Panel Title',
            instructions: 'How the plugin will be labelled in the Control Panel'|t('rentman-for-craft'),
            id: 'cpTitle',
            name: 'cpTitle',
            value: settings['cpTitle']}) }}

        <hr>

        {{ forms.textField({
            label: "Project's PDF Filename"|t('rentman-for-craft'),
            instructions: 'This sets the name of the selected project\'s pdf file that downloaded by the users. Note that "- #{project id}.pdf" will be added at the end of the file'|t('rentman-for-craft'),
            id: 'pdfFilename',
            name: 'pdfFilename',
            value: settings['pdfFilename']}) }}


        {% set siteRowsProjectPdf = [] %}
        {% for site in craft.app.sites.getAllSites() %}
            {% set siteSettingsProjectPdf = settings['templateForProjectPdf'][site.handle] ?? null %}
            {% set siteRowsProjectPdf = siteRowsProjectPdf|merge({
                (site.handle): {
                    heading: site.name|t('site')|e,
                    template: {
                        value: siteSettingsProjectPdf ? siteSettingsProjectPdf.template,
                    },
                }|filter
            }) %}
        {% endfor %}

        {{ forms.editableTableField({
            label: "Project's PDF template"|t('rentman-for-craft'),
            instructions: "Define the template to be used for the project's pdf. If not set, we will use the plugins internal template /templates/pdf/project.twig"|t('rentman-for-craft'),
            id: 'templateForProjectPdf',
            name: 'templateForProjectPdf',
            cols: {
                heading: {
                    type: 'heading',
                    heading: "Site"|t('rentman-for-craft'),
                    thin: true
                },
                template: {
                    type: 'template',
                    heading: "Template"|t('rentman-for-craft'),
                    info: "Which template should be use for project's pdf."|t('rentman-for-craft'),
                    code: true
                }
            }|filter,
            rows: siteRowsProjectPdf,
            fullWidth: true,
            allowAdd: false,
            allowDelete: false,
            allowReorder: false
        }) }}

        {{ forms.textField({
            label: 'Text for pdf footer',
            instructions: '',
            id: 'projectPdfFooter',
            name: 'projectPdfFooter',
            value: settings['projectPdfFooter']}) }}

        <hr>

        {{ forms.textField({
            label: 'Project\'s email subject',
            instructions: '',
            id: 'projectEmailSubject',
            name: 'projectEmailSubject',
            value: settings['projectEmailSubject']}) }}

        {% set siteRowsProjectEmail = [] %}
        {% for site in craft.app.sites.getAllSites() %}
            {% set siteSettingsProjectEmail = settings['templateForProjectEmail'][site.handle] ?? null %}
            {% set siteRowsProjectEmail = siteRowsProjectEmail|merge({
                (site.handle): {
                    heading: site.name|t('site')|e,
                    template: {
                        value: siteSettingsProjectEmail ? siteSettingsProjectEmail.template,
                    },
                }|filter
            }) %}
        {% endfor %}

        {{ forms.editableTableField({
            label: "Project\'s email template"|t('rentman-for-craft'),
            instructions: "Define the template to be used for the project's email. If not set, we will use the plugins internal template /templates/email/project.twig"|t('rentman-for-craft'),
            id: 'templateForProjectEmail',
            name: 'templateForProjectEmail',
            cols: {
                heading: {
                    type: 'heading',
                    heading: "Site"|t('rentman-for-craft'),
                    thin: true
                },
                template: {
                    type: 'template',
                    heading: "Template"|t('rentman-for-craft'),
                    info: "Which template should be use for project's email."|t('rentman-for-craft'),
                    code: true
                }
            }|filter,
            rows: siteRowsProjectEmail,
            fullWidth: true,
            allowAdd: false,
            allowDelete: false,
            allowReorder: false
        }) }}

    </div>

    {% js %}
        $(document).ready(function() {
        $('#settings-tabs a span').off();

        $('#settings-tabs a span').on('click', function (e) {
        e.preventDefault();
        $('.tab').addClass('hidden');
        $('#'+ $(this).parent().data('id')).removeClass('hidden');
        $('#settings-tabs a').removeClass('sel');
        $(this).parent().addClass('sel');
        })

        });
    {% endjs %}


{% endblock %}
