<div id="{{id}}-field" class="field width-100" data-attribute="{{id}}" data-layout-element="">
    <div class="heading">
        <label id="{{id}}-label" for="{{id}}">{{label}}</label>
    </div>
    <div class="input ltr">
        {% if images is empty %}
            -
        {% else %}
            <ul>
            {% for v in images %}
                <li><a href="{{ v.url }}" target="_blank" rel="noopener">{{ v.displayname ?? v.url }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
