<div id="{{id}}-field" class="field width-100" data-attribute="{{id}}" data-layout-element="">
    <div class="heading">
        <label id="{{id}}-label" for="{{id}}">{{label}}</label>
    </div>
    <div class="input ltr">
        {% if files is empty %}
            -
        {% elseif files is iterable %}
            <ul class="files">
            {% for v in files %}
                <li class="file"><a href="{{v.url}}" />{{v.displayname}}</a> </li>
            {% endfor %}
            </ul>
        {% else %}
            <a href="{{files.url}}" />2</a> 
        {% endif %}
    </div>
</div>