<div id="{{id}}-field" class="field width-100" data-attribute="{{id}}" data-layout-element="">
    <div class="heading">
        <label id="{{id}}-label" for="{{id}}">{{label}}</label>
    </div>
    <div class="input ltr">
        {% if value is empty %}
            -
        {% elseif value is iterable %}
            <ul>
            {% for v in value %}
                <li>{{v}}</li>
            {% endfor %}
            </ul>
        {% else %}
            {{value|raw|nl2br}}
        {% endif %}
    </div>
</div>