{% extends 'rentman-for-craft/pdf/layout' %}

{% block header %}
<p></p>
{% endblock %}

{% block content %}
    <h1 class="page-header">Anfrage #{{ project.id }} - {{ project.dateUpdated|date }} - {{ project.title }}</h1>


    <h2>Rechnungsadresse und Kontaktdaten</h2>
    <p>
        {{ project.contact_person_first_name }} {{ project.contact_person_lastname }} <br/>
        {% if project.contact_name is not empty %}
            {{ project.contact_name }}<br/>
        {% endif %}
        {% if project.contact_person_email is not empty %}
            E-Mail:{{ project.contact_person_email }}<br/>
        {% endif %}
        {% if project.contact_mailing_number is not empty %}
            Telefon:{{ project.contact_mailing_number }}<br/>
        {% endif %}
        {% if project.contact_mailing_street is not empty %}
            {{ project.contact_mailing_street }}
            {% if project.contact_mailing_postalcode is not empty %}
                - {{ project.contact_mailing_postalcode }}
                {% if project.contact_mailing_city is not empty %}
                    {{ project.contact_mailing_city }}
                    {% if project.contact_mailing_country is not empty %}
                        - {{ project.contact_mailing_country }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </p>

    <br>
    <hr><br>

    {% if project.location_name is not empty or project.location_mailing_number is not empty or project.location_mailing_street is not empty or project.location_mailing_postalcode is not empty or project.location_mailing_city is not empty or project.location_mailing_country is not empty %}
        <h2>Adresse Produktion</h2>
        <p>
            {% if project.location_name is not empty %}
                {{ project.location_name }}<br/>
            {% endif %}

            {% if project.location_mailing_street is not empty %}
                {{ project.location_mailing_street }}
                {% if project.location_mailing_postalcode is not empty %}
                    - {{ project.location_mailing_postalcode }}
                    {% if project.location_mailing_city is not empty %}
                        {{ project.location_mailing_city }}
                        {% if project.location_mailing_country is not empty %}
                            - {{ project.location_mailing_country }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if project.location_mailing_number is not empty %}
                <br>T: {{ project.location_mailing_number }}<br/>
            {% endif %}
            <br><br>
        </p>
        <br>
        <hr><br>
    {% endif %}

    <h2>Projektangaben</h2>
    <p>
        Titel: {{ project.title }}<br>
        Drehtage: {{ project.shooting_days }}<br>
        Mietzeitraum: {{ project.in|date }} - {{ project.out|date }}<br>
        Drehzeitraum:  {{ project.planperiod_start|date }} - {{ project.planperiod_end|date }}<br>
    </p>
    <br>
    <hr><br>

    {% if project.remark is not empty %}
        <h2>Kontakt Name, Telefon, Email und Bemerkung</h2>
        <p>
            {{ project.remark|nl2br }}
        </p>
        <br>
        <hr><br>
    {% endif %}

    <table class="table-order-items">
        <thead>
        <tr>
            <th class="title">Bezeichnung</th>
            <th class="kg">kg</th>
            <th>CHF</th>
            <th>Anzahl</th>
            <th>Total ({{ project.shooting_days > 1 ? project.shooting_days~' Tage' : '1 Tag' }})</th>
        </tr>
        </thead>
        <tbody>
        {% set productsGroupedByCats = project.getItemsGroupedByCategory %}
        {% for categoryId, products in productsGroupedByCats %}
            {% set category = craft.rentman.getCategoryById(categoryId) %}
            <tr class="category">
                <td colspan="5">
                    {{ category.displayname }}:
                </td>
            </tr>
            {% for product in products %}
                {% set productMainData = craft.rentman.getProductById(product.productId) %}
                <tr class="product">
                    <td class="title">
                        {{ productMainData.displayname }}
                    </td>
                    <td class="kg">
                        {{ productMainData.weight }}
                    </td>
                    <td>
                        {{ productMainData.price|number_format(2, '.', '’') }}
                    </td>
                    <td>
                        {{ product.quantity }}
                    </td>
                    <td>
                        {{ product.price|number_format(2, '.', '’') }}
                    </td>
                </tr>
            {% endfor %}

        {% endfor %}
        <tfoot>
        <tr class="total">
            <td colspan="5">
                {{ project.price|number_format(2, '.', '’') }}
            </td>
        </tr>
        </tfoot>
        </tbody>
    </table>

{% endblock %}

{% block footer %}
    {#
    <table>
        <tr>
            <td>BLOW UP rental – +41 44 501 55 30 – mail@blowup-rental.ch</td>
            <td class="text-right">Seite <span class="pagenum"></span></td>
        </tr>
    </table>
    #}
{% endblock %}