{% extends 'rentman-for-craft/pdf/layout' %}

{% block header %}
    <img id="logo" src="https://blowup-rental.ch/typo3conf/ext/template_blowup/Resources/Public/Images/logo2x.png" alt="BLOW UP rental" />
    <p>
        BLOW UP rental<br />
        Badenerstrasse 571a<br />
        8048 Zürich<br />
        <br />
        <br />
        <br />
    </p>
{% endblock %}

{% block content %}
    <h1 class="page-header">Anfrage #{{ project.id }}</h1>

    <table id="address">
        <tr>
            <td>
                <h2>Produktions- / Rechnungsadresse</h2>
                <p>
                {{project.location_name}}<br />
                
                {% if project.location_mailing_number is not empty %}
                    {{project.location_mailing_number}}<br />
                {% endif %}

                <br />

                {% if project.location_mailing_street is not empty %}
                    {{project.location_mailing_street}}<br />
                {% endif %}

                <br />

                {% if project.location_mailing_postalcode is not empty or project.location_mailing_city is not empty %}
                    {% if project.location_mailing_postalcode is not empty %}
                        {{project.location_mailing_postalcode}}
                    {% endif %}
                    {% if project.location_mailing_city is not empty %}
                        {{project.location_mailing_city}}
                    {% endif %}
                    <br />
                {% endif %}

                <br />

                {% if project.location_mailing_country is not empty %}
                    {{project.location_mailing_country}}<br />
                {% endif %}

                </p>

                {% if project.remark is not empty %}
                    <h2>Kommentar</h2>
                    <p style="line-height: 19px">
                        {{project.remark|nl2br}}
                    </p>
                {% endif %}
            </td>
            <td>
                <h2>Kontaktangaben</h2>
                <p>
                    {{project.contact_person_first_name}} {{project.contact_person_lastname}} <br />
                    {% if project.contact_name is not empty %}
                        {{project.contact_name}}<br />
                    {% endif %}

                    {% if project.contact_person_email is not empty %}
                       {{project.contact_person_email}}<br />
                    {% endif %}

                    {% if project.contact_mailing_number is not empty %}
                       {{project.contact_mailing_number}}<br />
                    {% endif %}

                </p>
            </td>
        </tr>
    </table>

    <hr />
    <br />

    <h2>Projektangaben</h2>
    <dl>
        <dt class="">Titel</dt>
        <dd class="">{{project.title}}</dd>
        <br />
        <dt class="">Mietzeitraum</dt>
        <dd class="">{{project.in}} - {{project.out}}</dd>
    </dl>

    <hr />
    <br />
    <table class="table-order-items">
        <thead>
        <tr>
            <th>Bezeichnung</th>
            <th>kg</th>
            <th>CHF</th>
            <th>Anzahl </th>
            <th>Total ({{ project.shooting_days > 1 ? project.shooting_days~' Tage' : '1 Tag' }})</th>
        </tr>
        </thead>
        <tbody>
        {% set productsGroupedByCats = project.getItemsGroupedByCategory %}
        {% for categoryId, products in productsGroupedByCats %}
            {% set category = craft.rentman.getCategoryById(categoryId) %}
            <tr class="category">
                <td colspan="5">
                    {{ category.displayname }}:
                </td>
            </tr>
            {% for product in products %}
                {% set productMainData = craft.rentman.getProductById(product.productId) %}
                <tr class="product">
                    <td class="title">
                       {{ productMainData.displayname }}
                    </td>
                    <td>
                        {{ productMainData.weight }}
                    </td>
                    <td>
                        {{ productMainData.price|round ==  productMainData.price ? (productMainData.price|number_format(0, '.', '’') ~".-")|raw  : productMainData.price|number(2) }}
                    </td>
                    <td>
                        {{ product.quantity }}
                    </td>
                    <td>
                        {{ product.price|round ==  product.price ? (product.price|number_format(0, '.', '’') ~".-&nbsp;&nbsp;&nbsp;")|raw  : product.price|number(2) }}
                    </td>
                </tr>
            {% endfor %}

        {% endfor %}
        <tfoot>
        <tr class="border-b border-b-lightgrey border-t-2 border-t-darkgrey">
            <td colspan="5" class="py-4 text-right font-bold">
                {{ project.price|round ==  project.price ? (project.price|number_format(0, '.', '’') ~".-&nbsp;&nbsp;&nbsp;")|raw  : project.price|number(2) }}
            </td>
        </tr>
        </tfoot>
        </tbody>
    </table>

{% endblock %}

{% block footer %}
    <table>
        <tr>
            <td>BLOW UP rental – +41 44 501 55 30 – mail@blowup-rental.ch</td>
            <td class="text-right">Seite <span class="pagenum"></span></td>
        </tr>
    </table>
{% endblock %}